/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/*

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
*/

:root {
    /* --green: #ff47d9; */
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}

.row {
    display: flex;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--dark-color);
}

.header .header-1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

.is-hidden {
    display: none;
}

.header .header-2 {
    background: var(--green);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

.home {
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .books-display {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-display a img {
    height: 25rem;
}

.home .row .books-display a:hover img {
    transform: scale(.9);
}

.home .row .books-display .stand {
    width: 100%;
    margin-top: -2rem;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

/* detail section */
.detail_section {
    padding-top: 45px;
}

.detail_container {
    display: flex;
    padding-top: 14%;
}

.detail2 {
    margin-top: 90px;
    margin-left: 20px;
}

.detail-box {
    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.detail-box::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    top: auto;
    left: auto;
    background-color: #f6f1ed;
    z-index: -1;
    border-radius: 100%;
    transition: transform 1s;
    transform: rotate();
}

.detail-box.d-box-1::before,
.detail-box.d-box-3::before {
    clip: rect(110px, 220px, 220px, 0);
}

.detail-box:hover {
    cursor: pointer;
}

.detail-box:hover::before {
    transform: rotate(360deg);
}

.detail-box.d-box-2::before,
.detail-box.d-box-4::before {
    clip: rect(0, 220px, 110px, 0);
}

.detail-box h5 {
    font-size: 16px;
    color: #fefefe;
    margin-top: 7px;
}

.detail-box.d-box-1,
.detail-box.d-box-4 {
    background-color: #142e59;
}

.detail-box.d-box-2 {
    background-color: #ff47d9;
}

.detail-box.d-box-3 {
    background-color: #ec4045;
}

.detail-box .detail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-box .detail-content img {
    height: 50px;
    filter: brightness(0) invert(1);
}

/* end detail section */

/* Featured Books Section */


.featured .btn-container {
    text-align: center;
}

.featured .featured-slider .row {
    width: 100%;
    justify-content: center;
    margin: auto;
}

.featured .featured-slider .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
    width: 430.667px;
    margin-right: 10px;
    cursor: pointer;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image img {
    height: 15rem;
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content p {
    font-size: 1.7rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.featured .featured-slider .box .content .stars i {
    font-size: 1.5rem;
    color: var(--green);
}

/*End of Featured Books Section */

.newsletter {
    background: url(../image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form h3 {
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}


.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit a {
    color: var(--green);
}

/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .node {
        margin: 0;
    }

}

@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header-2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }


    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .home .row .content {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 3.5rem;
    }

    .newsletter {
        background-position: right;
    }

    .newsletter form {
        margin-left: 0;
        max-width: 100%;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}

@media (max-width: 992px) {

    .row {
        flex-direction: column;
    }

    .detail_img-box {
        width: 375px;
        margin: 0 auto;
    }

    .detail_section .detail2,
    .featured .featured-container {
        display: flex;
        justify-content: center;
    }

    .featured .featured-container {
        flex-direction: column;
        align-items: center;
    }

    .detail_container {
        padding-top: 75px;
    }
}


@media (max-width: 768px) {
    .detail_container {
        flex-direction: column;
    }

    .detail-box.d-box-1::before,
    .detail-box.d-box-3::before {
        clip: rect(0px, 120px, 220px, 0);
    }

    .detail-box.d-box-2::before,
    .detail-box.d-box-4::before {
        clip: rect(0, 220px, 220px, 120px);
    }

    .detail-box {
        margin: 15px;
    }

    .detail-box:hover::before {
        transform: rotate(-360deg);
    }

}


@media (max-width: 480px) {
    .detail_img-box {
        width: 100%;
    }
}